@font-face {
  font-family: "MainFont";
  src: url(../open-sans/OpenSansCondensed-Light.ttf);
}
html {
  height: 100%;
}
body {
  display: grid;
  font-family: "MainFont";
  align-items: center;
  justify-items: center;
  background-color: black;
  color: white;
  background-image: url(../images/image1.jpeg);
  background-size: cover;
}

main a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  text-decoration: none;
  color: white;
}
.photo {
  margin: 0 auto;
  width: 290px;
}

nav {
  margin: 13px;
  margin-left: auto;
}

nav ul {
  padding-inline-start: auto;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: white;
  list-style-type: disc;
  margin-block-start: 1em;
  scroll-margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
nav ul li a:hover {
  color: red;
}

main h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 8em;
  font-size: 5rem;
  font-weight: 100;
}

.Omne {
  display: flex;
  font-family: "MainFont";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 90px;
}
main h6 a {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 50px;
}
main h6 a:hover {
  box-shadow: 2px 2px 2px red;
}
footer p {
  font-size: 11px;
  font-family: "MainFont";
}
footer {
  position: fixed;
  bottom: 0;
}
